body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

img{
    height: 100px;
    width: 100px;
}
#poke-ball-container{
    display: flex;
    
}