body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#1A2E20 ;
    font-family:monospace;
}

img{
    height: 100px;
    width: 100px;
}
#poke-ball-container{
    display: flex;
    
}
.pokeball{
    height: 50px;
    width: 50px;
    margin: auto;
    margin: 15px;
}

.hidden{
    display: none;
}
a {
    width: 200px;
    height: 200px;
}
.battle-field-right{
display: flex;
justify-content: end;
}
.battle-field{
    border: black 3px solid;
    width: 350px;
    height: 210px;
    background-image: url(../pokemon-sprits/battle-field.png);
}
button{
    border: solid black 3px;
    background-color: yellowgreen;
    margin: 20px;
    border-radius: 10px;
}

#game-text{
    background-color: white;
    border: black solid 3px;
    width: 350px;
    height: 50px;

}
.game-text{
    background-color: white;
    border: black solid 3px;
    width: 350px;
    height: 50px;

}