body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

img{
    height: 100px;
    width: 100px;
}
#poke-ball-container{
    display: flex;
    
}
input[type=radio]:checked + img{
scale: 120%;

}
.hidden{
    display: none;
}
a {
    width: 200px;
    height: 200px;
}